{% extends "core/base.html" %}

{% block content %}

<!DOCTYPE html>

  <header class="bg-dark text-light py-4">
    <div class="container">
      <h1 class="display-4">Contact Me</h1>
      <p class="lead">Feel free to reach out using any of the methods below.</p>
    </div>
  </header>

  <main class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3 py-5">
          <div class="card-body">
            <h5 class="card-title">Email</h5>
            <p class="card-text"><a href="mailto:youremail@example.com">shubhamkumarsingh.xyz@gmail.com</a></p>
          </div>
        </div>
        
        <div class="card mb-3 py-5">
          <div class="card-body">
            <h5 class="card-title">Phone</h5>
            <p class="card-text">+916204274301</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="card mb-3 py-5">
          <div class="card-body">
            <h5 class="card-title">GitHub</h5>
            <p class="card-text"><a href="https://github.com/Shubham09754/" target="_blank">github.com/shubham</a></p>
          </div>
        </div>
        
        <div class="card mb-3 py-5">
          <div class="card-body">
            <h5 class="card-title">LinkedIn</h5>
            <p class="card-text"><a href="https://www.linkedin.com/in/shubham-kumar-4706991b1" target="_blank">linkedin.com/in/shubham</a></p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="bg-dark text-light py-5">
    <div class="container text-center">
      <p>&copy; 2024 Shubham</p>
    </div>
  </footer>

 


{% endblock content %}