{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="mt-5 text-center">

    <div class="mt-5 text-white mx-5 text-justify">
        <h1 class="font-weight-bold st-font">Hello,</h1>
    <div class="px-4" style="line-height: 2rem;">
    <p style="text-indent: 100px;">
       I am <b class="text-warning">Shubham Kumar.</b> I am pursuing final year B.Tech in computer Science 
       from Parul University, <p> I am quite good in python/Django. I am seeking a role for a backend  developer position. 
       I  have  skills  like  python,  Django,  DjangoRestFramework,  mysql  version centrol system(git)  and  containerization  tools  like  Docker.
       I have also familier with linux environment</p>
       </p>
       <div class="text-center">
        <a href="/projects" class="btn btn-primary btn-lg my-3 mr-5">See My Projects</a>
    </div>        
</div>
</div>   
<div class="text-center">
    <a href="" class="btn btn-outline-warning my-3 mr-5">Hire me</a>
    <a href="/contact" class="btn btn-outline-info my-3 ">Contact</a>
</div> 
</div>

{% endblock content %}

