{% extends "core/base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-buttom">SKILLS</h1>
    <div class="row text-white">
     <div class="col-sm-5">
      <h3 class="mt-5">HTML-CSS</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar"
         style="width: 80%" aria-valuenow = "100" aria-valuemin="0" 
         aria-valuemax="100">80%</div>
      </div>
     </div>  
     <div class="col-sm-5 offset-sm-2">
        <h3 class="mt-5">PYTHON</h3>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
           style="width: 70%" aria-valuenow = "100" aria-valuemin="0" 
           aria-valuemax="100">70%</div>
        </div>
       </div>   
       <div class="col-sm-5 ">
        <h3 class="mt-5">DJANGO</h3>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
           style="width: 70%" aria-valuenow = "100" aria-valuemin="0" 
           aria-valuemax="100">70%</div>
        </div>
       </div> 
       <div class="col-sm-5 offset-sm-2">
        <h3 class="mt-5">DJANGO REST API</h3>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
           style="width: 70%" aria-valuenow = "100" aria-valuemin="0" 
           aria-valuemax="100">70%</div>
        </div>
       </div> 
       <div class="col-sm-5 ">
        <h3 class="mt-5">GIT</h3>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
           style="width: 70%" aria-valuenow = "100" aria-valuemin="0" 
           aria-valuemax="100">70%</div>
        </div>
       </div> 
       <div class="col-sm-5 offset-sm-2">
        <h3 class="mt-5">DOCKER</h3>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
           style="width: 50%" aria-valuenow = "100" aria-valuemin="0" 
           aria-valuemax="100">50%</div>
        </div>
       </div> 
       <div class="col-sm-5">
        <h3 class="mt-5">MYSQL</h3>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
           style="width: 50%" aria-valuenow = "100" aria-valuemin="0" 
           aria-valuemax="100">50%</div>
        </div>
       </div>
       <div class="col-sm-5 offset-sm-2">
        <h3 class="mt-5">JAVA</h3>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
           style="width: 70%" aria-valuenow = "100" aria-valuemin="0" 
           aria-valuemax="100">70%</div>
        </div>
       </div>

  </div>
</div>
{% endblock content %}